.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-soft);
  border-radius: var(--radius-md);
  color: var(--color-dark-gray);
}

.detailsContainer .details {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.detailsContainer .details p {
  font-size: var(--font-size-sm);
  color: var(--color-medium-gray);
  margin: 0;
}
.detailsContainer .details h3 {
  font-size: var(--font-size-md);
  color: var(--color-dark-gray);
  margin-bottom: var(--space-sm);
}

.detailsContainer .details .detailsInfo h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  text-align: center;
}

.detailsContainer .paymentDetails .paymentMethod {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.dateSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  /* background: var(--color-light-gray); */
  border-radius: var(--radius-md);
}

.dateLabel {
  font-size: var(--font-size-xs);
  color: var(--color-medium-gray);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  align-items: center;
  display: flex;
  gap: var(--space-xs);
}

.dateValue {
  font-size: var(--font-size-md);
  color: var(--color-dark-gray);
  font-weight: 600;
}

.cardValue .values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  flex: 1;
}

.originalValue {
  color: var(--color-medium-gray);
  text-decoration: line-through;
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.currentValue {
  font-weight: 800;
  font-size: var(--font-size-xxl);
  color: var(--color-dark-gray);
  line-height: 1.2;
}

.paymentDetails .dateContainer span {
  font-size: var(--font-size-lg);
  color: var(--color-dark-gray);
  font-weight: 500;
}

.detailsContainer .paymentDetails {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

@media (min-width: 768px) {
  .detailsContainer {
    width: 300px;
  }
}
