.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: var(--color-light-gray);
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-soft);
  border-radius: var(--radius-md);
  color: var(--color-dark-gray);
}

.detailsContainer .details {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.detailsContainer .details p {
  font-size: var(--font-size-sm);
  color: var(--color-medium-gray);
  margin: 0;
}
.detailsContainer .details h3 {
  font-size: var(--font-size-md);
  color: var(--color-dark-gray);
  margin-bottom: var(--space-sm);
}

.detailsContainer .details .detailsInfo h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  text-align: center;
}

.detailsContainer .discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-md);
  background-color: var(--color-light-gray);
  box-shadow: var(--shadow-soft);
  border-radius: var(--radius-md);
}

.detailsContainer .discount .values {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailsContainer .discount .values .originalValue {
  text-decoration: line-through;
  color: var(--color-medium-gray);
}

.detailsContainer .discount .values .discountedValue {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  color: var(--color-green);
}

.detailsContainer .paymentDetails .paymentMethod {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.detailsContainer .paymentDetails .paymentMethod span {
  font-size: var(--font-size-lg);
  color: var(--color-dark-gray);
  font-weight: 500;
}

.paymentDetails .dateContainer span {
  font-size: var(--font-size-lg);
  color: var(--color-dark-gray);

  font-weight: 500;
}

.paymentDetails .dateContainer .boxDate {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  color: var(--color-red);
}

.paymentDetails .dateContainer .boxDate span {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  color: var(--color-red);
}

.detailsContainer .paymentDetails .paymentMethod .radioContainer {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.radioContainer .selected {
  border: 2px solid var(--color-red) !important;
  color: var(--color-red) !important;

  span {
    color: var(--color-red) !important;
  }
}

.paymentMethod .radio {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  width: 130px;
  height: 100px;
  padding: var(--space-sm);
  background-color: var(--color-white);
  box-shadow: var(--shadow-soft);
  border-radius: var(--radius-md);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--color-medium-gray);
}

.paymentMethod .radio > .msg {
  position: absolute;
  top: 5%;
  left: 20%;
  /* right: 0; */
  height: fit-content;
  width: fit-content;
  background-color: rgba(170, 246, 174, 0.8);
  padding: 4px;
  border-radius: var(--radius-md);
  color: var(--color-dark-gray);
  font-size: var(--font-size-xs);
}

.paymentMethod .radio span {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--color-dark-gray);

  margin: 0;
}
.paymentMethod .radio svg {
  margin-bottom: 0;
}

.termsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-soft);
  border-radius: var(--radius-md);
  color: var(--color-dark-gray);
}

.termsContainer .header {
  h1 {
    font-size: var(--font-size-lg);
    color: var(--color-dark-gray);
    margin-bottom: var(--space-md);
  }
}

.termsContainer .terms {
  max-height: 400px;
  overflow-y: auto;
}

.termsContainer .checkboxContainer {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.checkboxContainer .checkbox {
  width: 20px;
  height: 20px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-medium-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.termsContainer .confirmationButton {
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
  margin-top: var(--space-md);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .container .detailsContainer {
    width: 800px;
  }
}
