.container {
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
}

.primary {
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
  cursor: pointer;
}
.secondary {
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  color: var(--color-red);
  background-color: var(--color-white);
  border: 1px solid var(--color-red);
  cursor: pointer;
}

.disabled {
  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  color: var(--color-gray);
  background-color: var(--color-light-gray);
  border: none;
  cursor: not-allowed;
}

.small {
  width: 50%;
}

.medium {
  width: 80%;
}

.large {
  width: 100%;
}
