.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-lg);
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sectionHeader h2 {
  text-align: center;
  background-color: var(--color-red);
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--color-light-gray);
  font-weight: 400;
  border-radius: var(--radius-xl);
}

.sectionHeader p {
  font-size: 1.2rem;
  color: var(--text-light);
  max-width: 700px;
  margin: 0 auto;
}

.howWork {
  padding: 5rem 0;
  background-color: var(--color-white);
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
  box-shadow: var(--shadow-soft-inverted);
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.step {
  flex: 1;
  min-width: 200px;
  height: 200px;
  text-align: center;
  padding: 1rem;
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-hard);
  cursor: pointer;
}

.stepHeader {
  height: 60px;
  width: 60px;
  background-color: var(--color-red);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.sectionHeader > .icon {
  color: var(--color-light-gray);
}
.step h3 {
  color: var(--color-dark-gray);
  font-weight: 700;
  font-size: var(--font-size-lg);
  text-align: left;
  padding-top: 0.5rem;
}
.step p {
  color: var(--text-light);
  text-align: left;
}
