.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-light-gray);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-soft);
}
.dateSelect {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: var(--space-sm);
}

.dateSelect .dateSelectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-md);
}