.waveDivider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waveDivider svg {
  display: block;
  width: 100%;
  height: 100px;
}

.waveDivider.inverted svg {
  transform: rotate(180deg);
}

.sectionHeader {
  text-align: center;
  margin-bottom: 3rem;
}

.sectionHeader p {
  font-size: 1.2rem;
  color: var(--text-light);
  max-width: 700px;
  margin: 0 auto;
}

/* como funciona */

/* Vantagens Section */
.vantagens {
  padding: 5rem 0;
  background-color: var(--bg-light);
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: var(--radius-xl);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.cardIcon {
  width: 70px;
  height: 70px;
  background-color: rgba(46, 187, 220, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.5rem;
}

.cardIcon i {
  font-size: 1.8rem;
  color: var(--accent-color);
}

.card h3 {
  margin-bottom: 1rem;
}

.card p {
  color: var(--text-light);
}

.cta {
  padding: 5rem 0;
  background: linear-gradient(
    135deg,
    var(--color-red) 100%,
    var(--color-light-gray) 0%
  );
  color: white;
}

.ctaContent {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.ctaContent h2 {
  margin-bottom: 1rem;
  color: var(--color-light-gray);
  font-size: var(--font-size-xxl);
}

.ctaContent p {
  margin-bottom: 2rem;
  font-size: var(--font-size-lg);
  opacity: 0.9;
}

.ctaForm {
  max-width: 500px;
  margin: 0 auto;
}

.ctaForm .inputGroup {
  margin-bottom: 0.5rem;
}

.buttonCta {
  background-color: var(--color-light-gray) !important;
  color: var(--color-dark-gray) !important;
}

.ctaForm small {
  opacity: 0.8;
}
