.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-lg);
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.sectionHeader .sectionHeaderTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.sectionHeader .sectionHeaderTitle > h3 {
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--color-medium-gray);
  font-weight: 400;
  border-radius: var(--radius-xl);
}

.sectionHeader .sectionHeaderTitle > .line {
  height: 2px;
  width: 100%;
  max-width: 80px;
  background-color: var(--color-red);
  border-radius: var(--radius-xl);
  align-items: center;
  gap: 0.5rem;
}

.sectionHeader h1 {
  font-size: var(--font-size-xl);
  color: var(--text-light);
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.sectionHeader h1 span {
  color: var(--color-red);
}

.sectionContent {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 1rem;
}

.sectionContent p {
  font-size: var(--font-size-md);
  color: var(--color-medium-gray);
  max-width: 800px;
}

@media (min-width: 768px) {
  .sectionHeader {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
  }
  .sectionHeader .sectionHeaderTitle {
    width: 100%;
    justify-content: center;
  }
}
