.header {
  width: 100%;
  height: 80px;
  background: var(--red-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;

  color: var(--color-white);
}

.top {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
}

.top .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
}

.bottom {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-md);
  color: var(--color-dark-gray);
  background-color: var(--color-white);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-md);
}

.menu .menuItem {
  font-size: var(--font-size-md);
  text-decoration: none;
}
.menu .active {
  span {
    color: var(--color-red) !important;
    /* font-weight: bold; */
  }
}

.menu .menuItem .icon {
  width: 100%;
  height: 2px;
  background-color: var(--color-red);
  border-radius: var(--radius-sm);
}
